body{
    text-align: center;
    padding: 20px;
    
}
div{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    
}
button{
    width: 150px;
    height: 30px;

}
