body {
    background-color: teal;
}
.head{
    text-align: center;
    font-size: xx-large;
    color: black;
    font-weight: 900;
}

.box {
    background-color: whitesmoke;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: red;

}

.reset {
    margin: auto;
    border: 2px solid black;
    border-radius: 50px;
    width: 500px;
    height: 100px;
    background-color: greenyellow;
}
.resetbtn{
    display: flex;
}

.parent {
    display: flex;
    justify-content: center;
}

.zero {
    background-color: red;
}

.cross {
    background-color: black;
}